<div class="SVG" #LogoFigure></div>
<div class="header">
  <div class="logo">
    <!-- <svg src={{logo}} alt=""></svg> -->
    <figure>
      <svg viewBox="0 0 45 45" width="80" height="80">
        <use xlink:href="#queen"/>
      </svg>
      <figcaption>Place The Queens</figcaption>
    </figure>
    <!-- <span class="tagline"></span> -->
  </div>
  <nav class="navbar">
    <ul>
      <li><a routerLink="/rules" routerLinkActive="active">Rules</a></li>
      <li><a routerLink="/new-game" routerLinkActive="active">New Game</a></li>
    </ul>
  </nav>
  <div class="contant">
    <p>By: Abdelrahman Muhammad</p>
    <a title="Skype" href="skype:abdel-rahman94?chat"><i class="fa fa-skype fa-3x"></i></a><a title="WhatsApp" href="https://api.whatsapp.com/send?phone=0201063736233"><i class="fa fa-whatsapp fa-3x"></i></a><a title="Email" href="mailto:contact@abdelrahmanma.com"><i class="fa fa-envelope fa-3x"></i></a>
  </div>
</div>
