<div class="SVG" #LogoFigure></div>
<div class="header">
  <div class="logo">
    <!-- <svg src={{logo}} alt=""></svg> -->
    <figure>
      <svg viewBox="0 0 45 45" width="80" height="80">
        <use xlink:href="#queen"/>
      </svg>
      <figcaption>Place The Queens</figcaption>
    </figure>
    <!-- <span class="tagline"></span> -->
  </div>
  <nav class="navbar">
    <ul>
      <li><a routerLink="/rules" routerLinkActive="active">Rules</a></li>
      <li><a routerLink="/new-game" routerLinkActive="active">New Game</a></li>
    </ul>
  </nav>
</div>
